$background: rgb(255, 253, 252);
$light-text: rgb(112, 110, 110);
$red-text: rgb(232, 54, 1);

$open-sans: 'Open Sans', sans-serif;
// $open-sans: 'Helvetica', sans-serif;



body {
    background: $background;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin: 0;
}

* {
    text-align: center;
}

img {
    vertical-align: top;
}

p {
    text-align: center;
    // font-family: Adelle;
}

.tk-adelle, h1, h2, h3, h4, h5, h6 {
    font-family: "adelle", serif;
}

h2 {
    font-size: 36px;
}

.columns {
    // outline: 1px solid blue;
}

header {
    height: 520px;
    background: url('/images/pattern.gif'), repeat;
    border-bottom: 2px solid #000;
    // font-family: Adelle;

    .book-title {
        max-height: 100%;    
        max-width: 100%;
        margin: 40px auto 15px;
    }

    .summary {
        font-size: 20px;
        line-height: 32px;
        margin: 0 auto;
        text-align: center;

        p {
            margin: 0 0 12px;
        }
    }

    .natalee {
        display: block;
        margin: 20px auto 0;
    }
}

.container {
    padding: 0 20px;
}

.wrapper {
    padding-top: 95px;
    background: $background;

    h2 {
        margin-bottom: 20px;
    }

    .about-natalee {
        color: $light-text;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 23px;
        font-weight: 400;

        span {
            font-weight: bolder;
        }
    }

    .divider {
        margin: 0 auto 70px;
        display: block;
    }

    .middle {
        background: url('/images/pattern.gif'), repeat;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }


    h4 {
        margin-bottom: 0px;
    }
    
    .stars {
        margin-bottom: 12px;
    }

    .quote {
        color: $light-text;
        font-style: italic;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .quoted, .praise {
        margin-bottom: 45px;
    }

    .praise {
        margin-top: 60px;
    }

    .quoted {
        font-weight: 400;
        font-size: 15px;
    }
}

.middle-content {

    * {
        text-align: left;

        /* All Mobile Sizes (devices and browser) */
        @media only screen and (max-width: 767px) {
            text-align: center;
        }
    }

    .book {
        margin-top: -36px;

        @media only screen and (max-width: 959px) {
            margin-top: -23px;
        }

        img {
            max-height: 100%;    
            max-width: 100%;
        }
    }

    .download-content {

        h2 {
            font-size: 23px;
            margin-top: 45px;

            @media only screen and (max-width: 959px) {
                margin-top: 18px;
            }
        }

        p {
            width: inherit;
            margin-bottom: 22px;
        }

        .download {
            color: $red-text;
            padding: 9px 18px 10px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
            border-radius: 4px;
            background: $background;
            display: inline-block;
            text-decoration: none;

            /* All Mobile Sizes (devices and browser) */
            @media only screen and (max-width: 767px) {
                margin-bottom: 20px;
            }

            &:hover {
                color: $background;
                background: $red-text;
            }
        }
    }
}

footer {
    padding: 20px;
    padding-bottom: 0;
    min-height: 58px;
    margin-top: 95px;
    border-top: 2px solid #000;
    line-height: 30px;
    background: url('/images/pattern.gif'), repeat;

    p {
        margin-bottom: 0;
        padding-bottom: 16px;
    }

}





